@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Oswald:wght@321;400&family=Poppins:wght@300;400&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.custom-toggler {
    border-color: azure !important;
    box-shadow: none !important;
    outline: none !important;
}

.cc:hover {
    color: #8dc63f !important;
}

.ba:hover {
    color: rgba(149, 127, 199, 0.467)!important;
}

.btn-danger {
    cursor: pointer!important;
    padding: 2px 20px!important;
    border: none!important;
    border-radius: 4px;
    transition: .3s;
}